<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tamagotchi!</title>
    <link 
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" 
      rel="stylesheet" 
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" 
      crossorigin="anonymous">
  </head>
  <body>
    <h1>Add a Tamagotchi</h1>
    <p>Add a name here:</p>

    <form action="/tamagotchi" method="post">
      <label for="tamagotchiName">Tamagotchi name</label>
      <input id="tamagotchiName" name="tamagotchiName" type="text">
      <button type="submit">Add</button>
    </form>

    <p><a href="/">Back home</a></p>
    <p><a href="/tamagotchi">Back to all Tamagotchis.</a></p>
  </body>
</html>